{% block content %}
    <h2>Watchlist</h2>
    <ul>
        <li><a style="color: #9bd8ce; font-style: italic;"  href="https://app.beta.passiv.com/snapTrade/redeemToken">GOOG</a> </li>
        <li><a style="color: #9bd8ce; font-style: italic;"  href="https://app.beta.passiv.com/snapTrade/redeemToken">AAPL</a> </li>
        <li><a style="color: #9bd8ce; font-style: italic;"  href="https://app.beta.passiv.com/snapTrade/redeemToken">MSFT</a> </li>
        <li><a style="color: #9bd8ce; font-style: italic;"  href="https://app.beta.passiv.com/snapTrade/redeemToken">GME</a>  </li>
    </ul>
{% endblock %}
